.container {
    position: relative;
    width: 50%;
    margin: 0 auto;
}
.con_input {
    height: 50%;
}
.con_text {
    outline: none;
    border: none;
}
.con_output {
    margin-top: 100px;
    padding:0;
}
.warning {
    background: yellow;
}
.error {
    background: red;
}
.info {
    background: green;
}
li {
    width: 100%;
    border-bottom: 1px solid grey;
    padding: 10px;
    list-style: none;
}